<div class="comment">
  <div class="comment__header">
    <div class="comment__userinfo">
      <%= link_to comment.user do %>
          <%= image_tag comment.user.image_url, class: 'comment__icon', size: '32x32' %>
      <% end %>


      <div class="comment__userinfo__name">
        <%= link_to comment.user.screen_name, comment.user %>
      </div>


    </div>
    <div class="comment__meta pull-right">
      <%= l(comment.updated_at) %>
      <%= link_to '削除', comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </div>
  </div>

  <div class="comment__content">
    <%= comment.text %>
  </div>
</div>
