<div class="comment-form row">
  <%= form_for(@article.comments.build(user_id: current_user.id)) do |f| %>

      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :article_id %>

      <div class="form-group">
        <%= f.text_area :text, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit 'コメント', class: 'btn btn-default' %>
      </div>
  <% end %>
</div>
