<li class="article-item-box">
  <div class="article-icon">
    <%= image_tag article.user.image_url, class: 'img-circle', size: '64x64' %>
  </div>
  <div class="info">
    <div class="info-head">
      <div class="created">
        <span class="author">
          <%= link_to article.user.screen_name, user_path(article.user) %>
        </span>
        が
        <span class="date">
          <%= l(article.updated_at) %>
        </span>
        に
        <span>
          <% if article.only_created? %>
              投稿
          <% else %>
              編集
          <% end %>
        </span>
      </div>
    </div>

    <div class="info-title">
      <h2 class="title">
        <%= link_to article.title, article %>
      </h2>

      <%= link_tags_list_for(article.tags) %>
      
      <div class="star">
        <% article.stars.each do |star| %>
            <%= render partial: 'stars/article_star', locals: { star: star } %>
        <% end %>
      </div>
    </div>

  </div>
</li>
