<li class="article-item-box">
  <div class="article-icon">
    <%= image_tag article.user.image_url, class: 'img-circle', size: '64x64' %>
  </div>
  <div class="info">
    <div class="info-head">
      <% if !article.categories.empty? %>
        <p class="categories">
          <%= article.categories_text %>
        </p>
      <% else %>
        <p class="categories no-category">nocategory</p>
      <% end %>
    </div>

    <div class="info-title">
      <h2 class="title">
        <%= link_to article.main_title, article %>
      </h2>
    </div>

    <div class="info-footer">
      <div class="tags">
        <% article.tags.each do |tag| %>
            <%= link_to "##{tag.name}", articles_path(tag: tag.name) %>
        <% end %>
      </div>
      <div class="created">
        <div class="author">
          Updated&nbsp;by
          <%= link_to article.user.screen_name, user_path(id: article.user.id) %>
        </div>
        <div class="date">
          <%= article.to_date_str %>
        </div>
      </div>
    </div>
  </div>
</li>
