<div class="article panel panel-default">
  <div class="panel-body">
    <div class="tumbnail">
      <%= image_tag 'noimg.png' %>
    </div>
    <div class="infos">
      <p class="categories">
        TODO / TODO
      </p>
      <h2 class="title">
        <%= link_to article.title, article %>
        <% if current_user.is_owner(article) %>
            <%= link_to edit_article_path(article) do
              fa_icon 'pencil'
            end %>
        <% end %>
      </h2>
      <div class="info-footer">
        <div class="record pull-left">
          TODO
        </div>
        <div class="record pull-right">
          <div class="author">
            Updated&nbsp;by
            <%= link_to article.user.id, '#' %>
          </div>
          <div class="date">
            <%= article.to_date_str %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>