<%= form_for(@article) do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% @article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <div class="input-group">
        <%= f.text_field :title, class: 'form-control', placeholder: 'category1/category2/Input document title #tag1 #tag2' %>

        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Template<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="templates-dropdown-list">
            <li class="loading">ロード中</li>
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </div>

    <div class="field">
      <%= f.text_field :tag_list, class: 'form-control', placeholder: ',区切りでタグを入力' %>
    </div>

    <div class="field">
      <%= f.text_area :text, class: 'form-control', rows: 30 %>
    </div>

    <hr>
    <div class="field actions">
      <div class="row">
        <div class="col-sm-4">
          <a id="upload-btn" class="btn btn-default"><%= fa_icon 'file-image-o' %></a>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
          <%= f.submit id: 'btn-submit', class: 'form-control' %>
        </div>
      </div>
    </div>
<% end %>
<input class="hide" type="file" name="article[image]" id="async-image-data">
