<div class="article-header">
  <div class="article-titles">
    <h1 calass="title">
      <%= @article.title %>
      <%= link_to edit_article_path(@article) do %>
          <%= fa_icon 'pencil' %>
      <% end %>
    </h1>

    <ul class="tag_list">
      <% @article.tags.each do |tag| %>
          <li>
            <%= link_to tag.name, articles_path(tag: tag.name) %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="article-subinfos">
    <% @editors.each do |editor| %>
        <%= link_to(editor) do %>
            <%= image_tag editor.image_url, class: 'img-circle', size: '64x64' %>
        <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="article-text">
      <div id="text-preview" class="markdown-body"></div>
    </div>

    <div id="text-raw" class="hide">
      <%= @article.text %>
    </div>
  </div>
</div>

<hr>

<div class="col-md-6">
  <div class="row">
    <%= render @comments %>
  </div>
  <%= render 'comments/form' %>
</div>
