<div class="container-fluid article-header">
  <div class="article-titles">
    <p id="categories-preview"><%= @article.categories_text %></p>

    <h1 calass="title">
      <%= @article.main_title %>
      <%= link_to edit_article_path(@article) do %>
        <%= fa_icon 'pencil' %>
      <% end %>
    </h1>

    <div class="pull-left">
      <% @article.tags.each do |tag| %>
          <%= link_to "##{tag.name}", articles_path(tag: tag.name) %>
      <% end %>
    </div>

    <div class="record pull-left">
      TODO
    </div>
  </div>
  <div class="article-subinfos">
    <p>
      最終編集者
      <%= link_to(@article.user) do %>
          <%= @article.user.name %>
      <% end %>
    </p>
  </div>
</div>

<div class="container-fluid article-text">
  <div id="text-preview" class="markdown-body"></div>
</div>

<div id="text-raw" class="hide">
  <%= @article.text %>
</div>

<hr>

<h3>コメント</h3>
<div class="col-md-8">
  <%= render @comments %>
  <hr>
  <%= render 'comments/form' %>
</div>
