<% provide(:title, @article.title) %>
<div class="article-header">
  <div class="article-titles">
    <h1 calass="title">
      <%= @article.title %>
      <%= link_to edit_article_path(@article) do %>
          <%= fa_icon 'pencil' %>
      <% end %>
    </h1>
    <span class="author">
        <%= link_to @article.user.screen_name, user_path(@article.user) %>
    </span>
    が
    <span class="date"><%= l(@article.updated_at) %></span>
    に
    <span>
      <% if @article.only_created? %>
          投稿
      <% else %>
          編集
      <% end %>
    </span>

    <% unless @article.status.publish? %>
        <%= fa_icon 'lock' %>
    <% end %>

    <%= link_tags_list_for(@article.tags) %>
    <% if user_signed_in? %>
        <% if current_user.owner?(@article) %>
            <%= link_to '削除', @article, method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
    <% end %>
  </div>

  <div class="article-subinfos">
    <% @editors.each do |editor| %>
        <%= link_to(editor) do %>
            <%= image_tag editor.image_url, class: 'img-circle', size: '32x32' %>
        <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="article-text">
      <div id="text-preview" class="markdown-body"></div>
    </div>

    <div id="text-raw" class="hide"><%= @article.text %></div>

    <hr>

    <div class="star">
      <% if user_signed_in? %>
          <%= link_to stars_path(star: { article_id: @article, user_id: current_user.id }), class: 'star__button', method: :post, remote: true do %>
              <%= fa_icon 'thumbs-o-up' %>
          <% end %>
      <% end %>

      <div id="star__list">
        <%= render @stars %>
      </div>
    </div>

    <hr>

    <div id="comment">
      <%= render @comments %>
    </div>
    <% if user_signed_in? %>
        <%= render 'comments/form' %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= image_tag @user.image_url, class: 'img-circle', size: '64x64' %>
    <%= link_to @user.screen_name, @user %>

    <div class="article__show">
      <h4>新着の投稿</h4>
      <%= render partial: 'article', collection: @recently_articles %>
    </div>

    <div class="article-subinfos">
      <h4>編集履歴</h4>

      <% @histories.each do |history| %>
          <div class="history">
            <%= link_to(history.user) do %>
                <%= image_tag history.user.image_url, class: 'img-circle', size: '32x32' %>
                <%= history.user.screen_name %>
            <% end %>
            <%= l history.created_at %>に編集
            <!--<span class="pull-right"><%= l history.created_at %>に編集</span>-->
            <hr>
          </div>
      <% end %>
    </div>
  </div>
</div>
