<p id="notice"><%= notice %></p>
<div class="container-fluid article-header">
  <div class="article-titles">
    <h1 calass="title">
      <%= @article.title %>
      <% if current_user.is_owner(@article) %>
          <%= link_to edit_article_path(@article) do
            fa_icon 'pencil'
          end %>
      <% end %>
    </h1>
    <div class="record pull-left">
      TODO
    </div>
  </div>
  <div class="article-subinfos">
    <p>
      <strong>User:</strong>
      <%= @article.user_id %>
    </p>
  </div>
</div>

<div class="container-fluid article-text">
  <div id="text-preview" class="markdown-body"></div>
</div>

<div id="text-raw" class="hide">
  <%= @article.text %>
</div>
