<%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'screen_name', class: 'col-xs-2' %>
    <div class="col-xs-5">
      <%= f.text_field :screen_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'name', class: 'col-xs-2' %>
    <div class="col-xs-5">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-3 pull-right">
      <%= f.submit class: 'form-control' %>
    </div>
  </div>
<% end %>
