<%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'image' %>
    <div class="row">
      <div class="col-sm-6">
        <div class="img-wrap">
          <%= image_tag current_user.image_url, id: 'img-user-icon', class: 'img-circle', size: '128x128' %>
        </div>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'screen_name' %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.text_field :screen_name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'name'  %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-3 pull-right">
      <%= f.submit class: 'form-control' %>
    </div>
  </div>
<% end %>
