<div class="user-header">
  <div class="row">
    <div class="col-xs-8">
      <div class="infos">
        <h2 class="title">
          <%= image_tag @user.image_url, class: 'img-circle', size: '64x64' %>
          <%= link_to @user.screen_name, @user %>
        </h2>

        <p class="name">
          <%= @user.name %>
        </p>
      </div>
    </div>
    <div class="col-xs-4 pull-right">
      <% if current_user == @user %>
          <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>

</div>

<%= render @articles %>

<%= paginate @articles %>
