<div class="navbar navbar-default">
  <!-- header -->
  <div class="container">
    <div class="nabar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Footopic</a>
    </div>


    <!-- content -->
    <div class="collapse navbar-collapse">
      <!-- search form -->
      <%= search_form_for @q, url: search_articles_path, class: 'form-group', html: { class: 'navbar-form navbar-left' } do |f| %>
          <%= f.search_field :title_cont, placeholder: '検索', class: 'form-control' %>
          <%= f.submit '検索', class: 'btn btn-default' %>
      <% end %>

      <!-- right content -->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <!-- TODO: link mypage -->
            <li><a href="#"><%= current_user.uid %></a></li>
        <% else %>
            <li><%= link_to "Twitter ログイン", user_omniauth_authorize_path(:twitter) %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>