<div id="navbar" class="navbar navbar-default">
  <!-- header -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">丼</a>
      <ul class="visible-xs menus">
        <li class="<%= 'active' if params[:controller] == 'articles' && (params[:action] == 'new' || params[:action] == 'edit') %>">
          <%= link_to new_article_path do %>
              <%= fa_icon 'pencil' %>
          <% end %>
        </li>

        <li class="<%= 'active' if params[:controller] == 'articles' && (params[:action] != 'new' && params[:action] != 'edit') %>">
          <%= link_to articles_path do %>
              <%= fa_icon 'th-list' %>
          <% end %>
        </li>

        <li class="<%= 'active' if params[:controller] == 'users' %>">
          <%= link_to users_path do %>
              <%= fa_icon 'users' %>
          <% end %>
        </li>
      </ul>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-user" aria-expanded="false">
        <%= fa_icon 'user' %>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-user">
      <!-- right content -->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li>
              <!-- search form -->
              <%= search_form_for @q, url: search_articles_path, class: 'form-group', html: {class: 'navbar-form navbar-left'} do |f| %>
                  <%= f.search_field :title_cont, placeholder: '検索', class: 'form-control' %>
                  <%= f.submit '検索', class: 'btn btn-default' %>
              <% end %>
            </li>
            <li>
              <%= image_tag current_user.image_url, class: 'img-circle', size: '36x36' %>
            </li>
            <li class="dropdown hidden-xs">
              <%= link_to '#',
                          class: 'dropdown-toggle',
                          data: {toggle: 'dropdown'} do %>
                  <%= current_user.screen_name %>
                  <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'マイページ', current_user %>
                </li>
                <li>
                  <%= link_to '設定変更', edit_user_path(current_user) %>
                </li>
                <li>
                  <%= link_to 'ログアウト', '/sign_out' %>
                </li>
              </ul>
            </li>
            <li class="visible-xs">
              <%= current_user.screen_name %>
            </li>
            <li class="visible-xs">
              <%= link_to 'マイページ', current_user %>
            </li>
            <li class="visible-xs">
              <%= link_to '設定変更', edit_user_path(current_user) %>
            </li>
            <li class="visible-xs">
              <%= link_to 'ログアウト', '/sign_out' %>
            </li>
        <% else %>
            <li><%= link_to 'Google ログイン', user_omniauth_authorize_path(:google_oauth2) %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>