<div id="side-bar">
  <nav>
    <ul>
      <li class="<%= 'active' if params[:controller] == 'articles' && (params[:action] == 'new' || params[:action] == 'edit') %>">
        <%= link_to new_article_path do %>
            <%= fa_icon 'pencil' %>
            <span>WRITE</span>
        <% end %>
      </li>

      <li class="<%= 'active' if params[:controller] == 'home' %>">
        <%= link_to root_path do %>
            <%= fa_icon 'home' %>
            <span>TOP</span>
        <% end %>
      </li>

      <li class="<%= 'active' if params[:controller] == 'articles' && (params[:action] != 'new' && params[:action] != 'edit') %>">
        <%= link_to articles_path do %>
            <%= fa_icon 'th-list' %>
            <span>ARTICLES</span>
        <% end %>
      </li>

      <li class="<%= 'active' if params[:controller] == 'users' %>">
        <%= link_to users_path do %>
            <%= fa_icon 'users' %>
            <span>MEMBERS</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
