<!DOCTYPE html>
<html>
<head>
  <title>Dashi</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/sidemenu' %>
<%= render 'shared/navbar' %>

<% if Rails.env == 'development' %>
    <%= params %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == 'notice' ? 'success' : 'error' %>">
            <%= msg %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <%= yield %>
</div>

<% unless user_signed_in? %>
    <%= link_to "Twitter ログイン", user_omniauth_authorize_path(:twitter) %>
<% end %>


</body>
</html>
