<!DOCTYPE html>
<html>
<head>
  <title>Dashi</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/sidemenu' %>
<%= render 'shared/navbar' %>


<div class="container-fluid">
  <div class="col-md-4">
    <% flash.each do |type, message| %>
        <div class="alert <%= alert_class_for(type) %> alert-dismissible fade in">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= message %>
        </div>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <%= yield %>
</div>

<% if Rails.env == 'development' %>
    <%= params %>
<% end %>

</body>
</html>
