<!DOCTYPE html>
<html>
<head>
  <title>Dashi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>">
      <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
      <%= msg %>
    </div>
<% end %>

<%= render 'shared/sidemenu' %>
<%= render 'shared/navbar' %>

<%= yield %>

<% unless user_signed_in? %>
    <%= link_to "Twitter ログイン", user_omniauth_authorize_path(:twitter) %>
<% end %>


</body>
</html>
